{% extends 'core/base.html' %}
{% block content %}
<h2>About MoneyParce</h2>
    <p>
  MoneyParce is a web application focussed on personal finance and helping users save, budget, and track their spending. MoneyParce was designed with keeping out users financial data securely and intuitively in mind. Whether you want to track your expenses or store your budgets, MoneyParce is built for you.
    </p>
    <p>
    MoneyParce integrates the ____ and _____ APIs to ensure our users gets the best financial support possible while maintaining an intuitive and user-friendly interface.
    </p>
{% endblock %}
